<div>
  <div class="welcome-container">
    <div id="logout-button">
      <form action="/logout" method="get">
        <button class="btn" type="submit" style="line-height: 1; vertical-align: inherit">Sign Out</button>
      </form>
    </div>
    <h3 class="user-welcome-message">Welcome {{ctrl.user.username}}!</h3>
    <div id="auth-panel">
    </div>
  </div>
  <nav id="main-search">
    <search user="ctrl.user"/>
  </nav>

  <ul id="userTab" class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#menu0" onclick="return false;">Top Box Office</a></li>
    <li><a data-toggle="tab" href="#menu1" onclick="return false;">Watched</a></li>
    <li><a data-toggle="tab" href="#menu2" onclick="return false;">Favorites</a></li>
    <li><a data-toggle="tab" href="#menu3" onclick="return false;">Recommendations</a></li>
    <li><a data-toggle="tab" href="#menu4" onclick="return false;">Upcoming</a></li>


  </ul>

  <div class="tab-content">
    <div id="menu0" class="tab-pane fade in active">
      <div id="box-office">
        <box-office user="ctrl.user" handle-title-click="ctrl.handleTitleClick" video="ctrl.video" tab="0"/>
      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <div id="watched-list">
        <movie-list movies="ctrl.user.watched" user="ctrl.user" handle-title-click="ctrl.handleTitleClick" video="ctrl.video" tab="1"/>
      </div>
    </div>
    <div id="menu2" class="tab-pane fade">
      <div id="favorites-list">
        <movie-list movies="ctrl.user.watched" user="ctrl.user" handle-title-click="ctrl.handleTitleClick" video="ctrl.video" tab="2"/>
      </div>
    </div>
    <div id="menu3" class="tab-pane fade">
      <rec-list movies="ctrl.recommendations" user="ctrl.user" handle-title-click="ctrl.handleTitleClick" video="ctrl.video"/>
    </div>
    <div id="menu4" class="tab-pane fade">
      <upcoming-list handle-title-click="ctrl.handleTitleClick" video="ctrl.video"/>
    </div>
  </div>

  <!-- Details Modal -->
  <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{ctrl.movie.title}}</h4>
        </div>
        <div class="modal-body">
          <p>{{ctrl.movie.details.Plot}}</p>
          <movie-details video="ctrl.video" movie="ctrl.movie" details="ctrl.movie.details" user="ctrl.user"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" ng-click="ctrl.clearData()">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Trailer Modal -->
  <div class="modal fade" id="trailerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{ctrl.movie.title}}</h4>
        </div>
        <div class="modal-body">
          <p>{{ctrl.movie.details.Plot}}</p>
          <video-player video="ctrl.video" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
