<div class="auth-panel">
  <form ng-submit="ctrl.authorize()">

    <label>Username: </label>
    <input type="text" ng-model="ctrl.username">

    <label>Password: </label>
    <input type="password" ng-model="ctrl.password">

    <input type="submit" ng-value="ctrl.mode ? 'Sign In' : 'Sign Up'">
     <!-- ng-click="ctrl.mode ? app.get" -->

    <span ng-if="!ctrl.mode">Already have an account? <a href="#" ng-click="ctrl.toggleMode()">Click here.</a></span>
    <span ng-if="ctrl.mode">Need an account? <a href="#" ng-click="ctrl.toggleMode()">Click here.</a></span>

  </form>
</div>
