<div class="movie-entry">

  <img class="movie-entry-poster" src="http://martjackassests.azureedge.net/css/themes/mjt02012429/images/main/show_loader.gif" ng-src="{{ctrl.movie.details.Poster}}">

  <div class="movie-entry-info">
    <h4 class="movie-entry-title inline-block">{{ctrl.movie.details.Title || 'N/A'}}</h4>
    <button class="btn favorite-element comment-element" id="add-favorite-button" ng-click="ctrl.handleAddToFavorites()">
      <span>make favorite</span>
    </button>
    <button type="button" class="btn" data-toggle="modal" data-target="#detailsModal" ng-click="ctrl.handleTitleClick(ctrl.movie.details.Title, ctrl.movie.details.imdbID, ctrl.movie.details)">
      details
    </button>

    <div class="movie-info">
      <div class="year movie-subhead">{{ctrl.movie.details.Year}} </div>
      <div class="rating movie-subhead">{{ctrl.movie.details.Rated}}</div>
      <div class="genre movie-subhead">{{ctrl.movie.details.Genre}}</div>
      <div class="movie-staff">Director: {{ctrl.movie.details.Director}}</div>
      <div class="movie-staff">Cast: {{ctrl.movie.details.Actors}}</div>
      <div class="earnings-release">Release Date: {{ctrl.movie.details.Released}}</div>
      <div class="earnings-release">Weekend Earnings: {{ctrl.movie.weekend_earnings}}</div>
    </div>

    <div class="movie-critic-info">
      <div class="critic-element">
        <a ng-href="http://www.imdb.com/title/{{ctrl.movie.imdb_id}}">
          <img id="imdb-icon" src="http://ia.media-imdb.com/images/M/MV5BMTk3ODA4Mjc0NF5BMl5BcG5nXkFtZTgwNDc1MzQ2OTE@._V1_.png">
        </a>
        {{ctrl.movie.details.Ratings_Obj["Internet Movie Database"]}}
      </div>
      <div class="critic-element">
        <a ng-href="https://www.rottentomatoes.com/m/{{ctrl.movie.rotten_id}}">
          <img id="rotten-tomato-icon" src="http://www.userlogos.org/files/logos/jumpordie/rottentomatoes_03.png">
        </a>
        {{ctrl.movie.details.Ratings_Obj["Rotten Tomatoes"]}}
      </div>
      <div class="critic-element">
        <a ng-href="http://www.metacritic.com/movie/{{ctrl.movie.meta_id}}">
          <img id="metacritic-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Metacritic.svg/500px-Metacritic.svg.png">
        </a>
        {{ctrl.movie.details.Ratings_Obj["Metacritic"]}}
      </div>
    </div>

    <div id="user-comment">
      <div class="user-movie-comment" ng-if="ctrl.movie.comment !== ''">
        <div class="user-critic user-critic-element">{{ctrl.user.username}} says:</div>
        <div class="user-critic-comment user-critic-element"> "{{ctrl.movie.comment}}"</div>
      </div>

      <div class="search-bar form-inline comment-search-bar">
        <input
          ng-model="ctrl.input"
          class="form-control comment-element"
          type="text"
        />
        <button class="btn comment-element" id="edit-button" ng-click="ctrl.handleAddCommentClick(); ctrl.input=''" onclick="return false">
          <span>edit</span>
        </button>
      </div>
    </div>

    <div class="inline-block" id="user-rating">Rating: {{ctrl.movie.rating}}/10</div>
    <div class="rating-change inline-block" id="user-rate">
      <select class="rating-change-select" ng-model="ctrl.rating" name="carlist" form="carform" ng-change="ctrl.handleRatingClick(); ctrl.rating=''">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>

    <div></div>
    <button class="btn comment-element" id="remove-button" ng-click="ctrl.handleRemoveClick()">
      <span>remove movie</span>
    </button>
    <button class="btn favorite-element comment-element" id="remove-favorite-button" ng-click="ctrl.handleAddToFavorites()">
      <span>remove Favorite</span>
    </button>

  </div>



</div>
