<div class="movie-entry">

  <img class="movie-entry-poster" src="http://martjackassests.azureedge.net/css/themes/mjt02012429/images/main/show_loader.gif" ng-src="{{ctrl.movie.details.Poster}}">

  <div class="movie-entry-info">
    <h4 class="movie-entry-title inline-block" ng-click="handleTitleClick()">{{ctrl.movie.details.Title || 'N/A'}}</h4>
    <button class="btn favorite-element comment-element" id="add-favorite-button" ng-click="ctrl.handleAddToFavorites()">
      <span>make favorite</span>
    </button>

    <div class="movie-info">
      <div class="year movie-subhead">{{ctrl.movie.details.Year}} </div>
      <div class="rating movie-subhead">{{ctrl.movie.details.Rated}}</div>
      <div class="genre movie-subhead">{{ctrl.movie.details.Genre}}</div>
      <div class="movie-staff">Director: {{ctrl.movie.details.Director}}</div>
      <div class="movie-staff">Cast: {{ctrl.movie.details.Actors}}</div>
    </div>

    <div class="movie-critic-info">
      <div class="critic-element">
        <img id="imdb-icon" src="http://icons.iconarchive.com/icons/icons8/windows-8/512/Cinema-Imdb-icon.png">
        {{ctrl.movie.details.Ratings[0].Value}}
      </div>
      <div class="critic-element">
        <img id="rotten-tomato-icon" src="http://www.userlogos.org/files/logos/jumpordie/rottentomatoes_03.png">
        {{ctrl.movie.details.Ratings[1].Value}}
      </div>
      <div class="critic-element">
        <img id="metacritic-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Metacritic.svg/500px-Metacritic.svg.png">
        {{ctrl.movie.details.Ratings[2].Value}}
      </div>
    </div>

    <div class="user-movie-comment">
      <div class="user-critic user-critic-element">{{ctrl.user.username}} says:</div>
      <div class="user-critic-comment user-critic-element"> "{{ctrl.movie.comment}}"</div>
    </div>

    <div class="search-bar form-inline comment-search-bar">
      <input
        ng-model="ctrl.input"
        class="form-control comment-element"
        type="text"
      />
      <button class="btn comment-element" id="edit-button" ng-click="ctrl.handleAddCommentClick(); ctrl.input=''" onclick="return false">
        <span>edit</span>
      </button>
    </div>

    <div class="inline-block" id="user-rating">Rating: {{ctrl.movie.rating}}/10</div>
    <div class="rating-change inline-block">
      <select class="rating-change-select" ng-model="ctrl.rating" name="carlist" form="carform" ng-change="ctrl.handleRatingClick(); ctrl.rating=''">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>

    <div></div>
    <button class="btn comment-element" id="remove-button" ng-click="ctrl.handleRemoveClick()">
      <span>remove movie</span>
    </button>
    <button class="btn favorite-element comment-element" id="remove-favorite-button" ng-click="ctrl.handleAddToFavorites()">
      <span>remove Favorite</span>
    </button>
  </div>
  <p>name: {{ctrl.details.dvd}}</p>
  <video-player video="ctrl.video"/>
  <reviews />

</div>

<!-- Actors
:
"Owen Wilson, Cristela Alonzo, Chris Cooper, Nathan Fillion"
Awards
:
"N/A"
BoxOffice
:
"N/A"
Country
:
"USA"
DVD
:
"N/A"
Director
:
"Brian Fee"
Genre
:
"Animation, Adventure, Comedy"
Language
:
"English"
Metascore
:
"59"
Plot
:
"Lightning McQueen sets out to prove to a new generation of racers that he's still the best race car in the world."
Poster
:
"https://images-na.ssl-images-amazon.com/images/M/MV5BMTc0NzU2OTYyN15BMl5BanBnXkFtZTgwMTkwOTg2MTI@._V1_SX300.jpg"
Production
:
"Walt Disney Pictures"
Rated
:
"G"
Ratings
:
Array(3)
Ratings_Obj
:
Object
Released
:
"16 Jun 2017"
Response
:
"True"
Runtime
:
"109 min"
Title
:
"Cars 3"
Type
:
"movie"
Website
:
"http://movies.disney.com/cars-3"
Writer
:
"Brian Fee (original story by), Ben Queen (original story by), Eyal Podell (original story by), Jonathon E. Stewart (original story by), Kiel Murray (screenplay), Bob Peterson (screenplay), Mike Rich (screenplay)"
Year
:
"2017"
imdbID
:
"tt3606752"
imdbRating
:
"7.3"
imdbVotes
:
"5,359" -->
