
<div class="movie-entry">
  <img class="movie-entry-poster" ng-src="{{ctrl.movie.details.Poster}}">
  <div class="movie-entry-info">
    <h4 class="movie-entry-title inline-block">{{ctrl.movie.details.Title || 'N/A'}}</h4>
    <button class="btn favorite-element comment-element" id="add-favorite-button" ng-click="ctrl.handleAddToFavorites()">
      <span>make favorite</span>
    </button>
    <div class="movie-info">
      <div class="year movie-subhead">{{ctrl.movie.details.Year}} </div>
      <div class="rating movie-subhead">{{ctrl.movie.details.Rated}}</div>
      <div class="genre movie-subhead">{{ctrl.movie.details.Genre}}</div>
      <div class="movie-staff">Director: {{ctrl.movie.details.Director}}</div>
      <div class="movie-staff">Cast: {{ctrl.movie.details.Actors}}</div>
    </div>
    <div class="movie-critic-info">
      <div class="critic-element">
        <img id="imdb-icon" src="http://icons.iconarchive.com/icons/icons8/windows-8/512/Cinema-Imdb-icon.png">
        {{ctrl.movie.details.Ratings[0].Value}}
      </div>
      <!-- <div>IMDB: {{ctrl.movie.details.Ratings[0].Value}}</div> -->
      <div class="critic-element">
        <img id="rotten-tomato-icon" src="http://www.userlogos.org/files/logos/jumpordie/rottentomatoes_03.png">
        {{ctrl.movie.details.Ratings[1].Value}}
      </div>
      <div class="critic-element">
        <img id="metacritic-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Metacritic.svg/500px-Metacritic.svg.png">
        {{ctrl.movie.details.Ratings[2].Value}}
      </div>
      <!-- <div>Metacritic: {{ctrl.movie.details.Ratings[2].Value}}</div> -->
    </div>
    <div class="user-movie-comment">
      <div class="user-critic user-critic-element">{{ctrl.user.username}} says:</div>
      <div class="user-critic-comment user-critic-element"> "{{ctrl.movie.comment}}"</div>
    </div>
    <div class="search-bar form-inline comment-search-bar">
      <input
        ng-model="ctrl.input"
        class="form-control comment-element"
        type="text"
      />
      <button class="btn comment-element" id="edit-button" ng-click="ctrl.handleAddCommentClick()" onclick="return false">
        <span>edit</span>
      </button>
    </div>
    <div class="inline-block" id="user-rating">Rating: {{ctrl.movie.rating}}/10</div>
    <div class="rating-change inline-block">
      <select ng-model="ctrl.rating" name="carlist" form="carform" ng-change="ctrl.handleRatingClick()">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
      <!-- <button class="btn" ng-click="ctrl.handleRatingClick()" onclick="return false">
        <span>edit rating</span>
      </button> -->
    </div>
    <div></div>
    <button class="btn comment-element" id="remove-button" ng-click="ctrl.handleRemoveClick()">
      <span>remove movie</span>
    </button>
    <button class="btn favorite-element comment-element" id="remove-favorite-button" ng-click="ctrl.handleAddToFavorites()">
      <span>remove Favorite</span>
    </button>
  </div>
</div>
