<div class="movie-entry">
  <img class="movie-entry-poster recommendation-poster" src="http://martjackassests.azureedge.net/css/themes/mjt02012429/images/main/show_loader.gif" ng-src="{{ctrl.movie.Poster}}" ng-click="ctrl.handleTitleClick(ctrl.movie.details.Title)">
  <div class="movie-entry-info">

    <h4 class="movie-entry-title inline-block" ng-click="ctrl.handleTitleClick(ctrl.movie.Title)">{{ctrl.movie.Title || 'N/A'}}</h4>
    <div class="movie-info">
      <div class="year movie-subhead">{{ctrl.movie.Year}} </div>
      <div class="rating movie-subhead">{{ctrl.movie.Rated}}</div>
      <div class="genre movie-subhead">{{ctrl.movie.Genre}}</div>
      <div class="movie-staff">Director: {{ctrl.movie.Director}}</div>
      <div class="movie-staff">Cast: {{ctrl.movie.Actors}}</div>
    </div>

    <div class="movie-critic-info">
      <div class="critic-element">
        <a ng-href="http://www.imdb.com/title/{{ctrl.movie.imdbID}}">
          <img id="imdb-icon" src="http://ia.media-imdb.com/images/M/MV5BMTk3ODA4Mjc0NF5BMl5BcG5nXkFtZTgwNDc1MzQ2OTE@._V1_.png">
        </a>
        {{ctrl.movie.Ratings_Obj["Internet Movie Database"]}}
      </div>
      <div class="critic-element">
        <a ng-href="https://www.rottentomatoes.com/m/{{ctrl.movie.rotten_id}}">
          <img id="rotten-tomato-icon" src="http://www.userlogos.org/files/logos/jumpordie/rottentomatoes_03.png">
        </a>
        {{ctrl.movie.Ratings_Obj["Rotten Tomatoes"]}}
      </div>
      <div class="critic-element">
        <a ng-href="http://www.metacritic.com/movie/{{ctrl.movie.meta_id}}">
          <img id="metacritic-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Metacritic.svg/500px-Metacritic.svg.png">
        </a>
        {{ctrl.movie.Ratings_Obj["Metacritic"]}}
      </div>
    </div>

  </div>
  <hr />
</div>
