<br />
<br />
<div style='border-bottom: 1px solid white;'>
<a ng-click="ctrl.writeReviewClick()">{{ctrl.writeHideReview}}</a>
<form ng-show="ctrl.showWriteReview">
  <fieldset>
    <p >
      <br />
      <label > Your Review: </label>
      <br />
      <textarea ng-model="item.selected" ng-change="ctrl.handleTextChange(item.selected)" id = "myTextArea"
              rows = "8"
              cols = "80"></textarea>
      <button ng-click='ctrl.handleSubmit()'>Submit Review</button>
    </p>
  </fieldset>
</form>
</div>
<h1>Reviews: </h1>
<review-entry ng-repeat='review in ctrl.reviews' review='review'/>
