<div class="search-bar form-inline">
  <div class="search-text"> Add a movie</div>
  <input
    ng-model="ctrl.input"
    class="form-control"
    type="text"
    ng-change="ctrl.handleClick(); toggleSelect()"
  />
  <button class="btn" ng-click="ctrl.handleClick(); ctrl.input=''; toggleSelect()">
    <span class="glyphicon glyphicon-search" id="searchButton"></span>
  </button>
  <search-result-list movies="ctrl.results" user="ctrl.user" ng-show="isPopupVisible"/>
  <!-- <button class="btn">
    <span class="glyphicon glyphicon-search">add movie</span>
  </button> -->
</div>
