<div class="search-result-entry">
  <!-- <a href="/login">{{ctrl.movie.title}}</a> -->
  <div class="searched-movie">
    <img class="search-thumbnail inline-block" ng-src="{{ctrl.movie.poster_path}}">
    <div class="search-movie-info inline-block">
      <div class="search-movie-title">{{ctrl.movie.title}}</div>
      <div class="search-movie-year">{{ctrl.movie.release_date.slice(0,4)}}</div>
      <!-- <div class="search-movie-overview">{{ctrl.movie.overview}}</div> -->
      <button class="btn add-button comment-element" ng-click="ctrl.handleMovieClick()">
        <span>add</span>
      </button>
    </div>
  <!-- <div>Genre: {{ctrl.movie.Genre}}</div>
  <div>Year: {{ctrl.movie.Year}}</div>
  <div>Rating: {{ctrl.movie.Rated}}</div>
  <div>Rotten Tomatoes: {{ctrl.movie.Ratings[1].Value}}</div> -->
  </div>
</div>
