.main-header {
  height: 160px;
  background-image: url("templates/flashlight1.jpg");
  background-size: 100%;
  padding: 50px 50px 50px 90px;
}

.color-border {
  height: 11px;
  background-color: #f9ac04;
}

a:hover {
  cursor: pointer;
}

.main-header-text {
  color: white;
  font-size: 45px;
  letter-spacing: 2px;
  margin-left: 50px;
  height: 30px;
}

.header-sub-text {
  color: white;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-left: 55px;
  height: 30px;
}

#home-image {
  width: 100%;
}

/****** welcome message after header  *******/

.welcome-container {
  width: 100%;
  height: 100%;
}

.user-welcome-message {
  display: inline-block;
  height: 10px;
}

.search-text {
  margin-bottom: 5px;
}

#logout-button {
  margin-top: 30px;
  float: right;
  /*background-color: grey;*/
  display: inline-block;
}

/*********/

input {
  color: #222;
}

.auth-panel {
  margin-top: 50px;
}

.ugly-button {
  border: none;
  background-image: none;
  /*background-color: #d6d7d8;*/
  font-size: 13px;
  padding: 4px;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-style: none;
}

.login {
  margin-right: 15px;
  margin-bottom: 50px;
}

#login-image {
  width: 100%;
}

.container {
  height: 100%;
  position: relative;
}

#main-search {
  margin-top: 15px;
  margin-bottom: 30px;
}

/******* SEARCH MOVIE DROPDOWN ********/

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: #444;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown a:hover {background-color: #f1f1f1}
.show {display:block;}

.searched-movie {
  margin: 0 0 5px 0;
}

.search-result-entry {
  margin-bottom: 20px;
}

.search-thumbnail {
  margin-right: 10px;
  vertical-align: bottom;
  width: 50px;
  height: auto;
}

.search-movie-title {
  font-weight: bold;
  font-size: 15px;
}

.search-movie-info {
}

.add-button {
  margin-top: 10px;
}

/***************/

/******* MOVIE ENTRY STYLING ********/

.movie-entry {
  padding: 20px 20px 20px 0;
}

.movie-entry-poster {
  width: 200px;
  display: inline-block;
  margin-right: 40px;
}

.movie-entry-info {
  display: inline-block;
  vertical-align: bottom;
  padding-bottom: 7px;
}

#menu0 .movie-entry-info {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 7px;
}

.movie-entry-title {
  font-size: 20px;
  margin-right: 15px;
}

.comment-element {
  height: 20px;
  line-height: 4.5px;
  font-size: 11px;
}

.critic-element {
  display: inline-block;
  margin-right: 20px;
  font-weight: bold;
  font-size: 13px;
}

#imdb-icon {
  margin: 0 6px 0 4px;
  width: 35px;
}

#rotten-tomato-icon {
  width: 45px;
}

#metacritic-icon {
  margin: 6px 6px 6px 6px;
  width: 30px;
}

.movie-subhead {
  display: inline-block;
  margin: 0 6px 3px 0;
  font-size: 15.5px;
}

.movie-staff {
  font-size: 13px;
}

.user-movie-comment {
  font-size: 17px;
  margin: 0 0 5px 0;
}

.user-critic {
  font-weight: 500;
}

.user-critic-comment {
  width: 500px;
  font-style: italic;
  word-wrap: break-word;
}

.rating-change-select:focus, .rating-change-select:active, .rating-change-select.active, .rating-change-select:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button {
  background-color: #666;
}

.btn:focus {
  outline: none;
  color: white;
}

.btn:focus.voted {
  color: #222;
}



.ugly-button:focus, .ugly-button:active, .ugly-button.active, .ugly-button:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#user-rating {
  margin-top: 7px;
}

.rating-change {
  margin-left: 10px;
}

#remove-button {
  margin-top: 15px;
}

#edit-button {
}

#favorite-button {
  margin-bottom: 10px;
}

#remove-favorite-button {
  margin-top: 15px;
}

#add-favorite-button {
  vertical-align: 4px;
}

/*********** SOME OF THE EXTRA TAB STYLING *************/

.recommendation-poster {
  width: 125px;
}

.upcoming-poster {
  width: 125px;
}

.nav-tabs li a {
  background-color: inherit;
  color: inherit;
  border-bottom-color: transparent;
}

.nav-tabs li a:hover {
  background-color: transparent;
  color: inherit;
  border-bottom-color: transparent;
}

.nav-tabs li.active a {
  background-color: #444;
  color: inherit;
  border-bottom-color: transparent;
}

.nav-tabs li.active a:hover {
  background-color: #444;
  color: inherit;
}

.nav-tabs li.active a:focus {
  background-color: #444;
  color: inherit;
}

/****** deals with hiding NON-FAVORITES and correspoding buttons ******/

/*:not(.box-office) .weekend-earnings {
  display: none;
}*/

#menu1 .earnings-release {
  display: none;
}

#menu2 .earnings-release {
  display: none;
}

#menu1 .favorite #add-favorite-button {
  display:none;
}

#menu1 #remove-favorite-button {
  display:none;
}

#menu2 .favorite #add-favorite-button {
  display:none;
}

#menu2 .favorite #remove-button {
  display: none;
}

#menu2 .non-favorite {
  display:none;
}

#menu0 #add-favorite-button {
  display:none;
}

#menu0 #remove-favorite-button {
  display:none;
}

#menu0 #remove-button {
  display: none;
}

#menu0 #user-rating {
  display: none
}

#menu0 #user-rate {
  display: none
}

#menu0 #user-comment {
  display: none
}

/****** modals *******/

.modal-content {
  background-color: #444;
  color: inherit;
}

.modal-body {
  background-color: inherit;
}
/***************/

.inline-block {
  display: inline-block;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #222;
    color: #fff;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}


.review-entry {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
}

textarea {
  color: #222;
}

.voted {
  background-color: #f9ac04;
  color: #222;
}
