.main-header {
  height: 150px;
  background-color: #c5d1e5;
  padding: 50px 50px 50px 90px;
}

.main-header-text {
  color: white;
  font-size: 55px;
  letter-spacing: 2px;
}

>>>>>>> some style
/****** welcome message after header  *******/

.welcome-container {
  /*background-color: grey;*/
  width: 100%;
  height: 100%;
}

.user-welcome-message {
  /*float: left;*/
  /*background-color: grey;*/
  display: inline-block;
}

#logout-button {
  margin-top: 30px;
  float: right;
  background-color: grey;
  display: inline-block;
  /*border-style: solid;*/
  /*float: right;*/
}

/*********/

.auth-panel {
  margin-top: 50px;
}

.container {
  height: 100%;
  position: relative;
}

#main-search {
  margin-top: 15px;
  margin-bottom: 30px;
}

/******* SEARCH MOVIE DROPDOWN ********/

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    /*display: none;*/
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown a:hover {background-color: #f1f1f1}
.show {display:block;}

.searched-movie {
  /*background-color: grey;*/
  margin: 0 0 5px 0;
}

.search-result-entry {
  /*background-color: pink;*/
  margin-bottom: 20px;
}

.search-thumbnail {
  /*background-color: grey;*/
  margin-right: 10px;
  vertical-align: bottom;
}

.search-movie-title {
  font-weight: bold;
  font-size: 15px;
}

.search-movie-info {
  /*background-color: grey;*/
}

.add-button {
  /*margin-left: 10px;*/
  margin-top: 10px;
  /*float: right;*/
}

/***************/

/******* MOVIE ENTRY STYLING ********/

.movie-entry {
  padding: 20px 20px 20px 0;
}

.movie-entry-poster {
  width: 200px;
  display: inline-block;
  margin-right: 40px;
 /* border-style: solid;
  border-width: 5px;
  border-color: #4286f4*/
}

.movie-entry-info {
  /*padding-top: 100px;*/
  display: inline-block;
  vertical-align: bottom;
  padding-bottom: 7px;
}

.movie-entry-title {
  font-size: 20px;
  margin-right: 15px;
}

.comment-element {
  /*background: black;*/
  /*margin-left: 10px;*/
  height: 20px;
  line-height: 4.5px;
  font-size: 11px;
}

.critic-element {
  display: inline-block;
  margin-right: 20px;
  font-weight: bold;
  font-size: 13px;
}

#imdb-icon {
  margin: 0 6px 0 4px;
  width: 35px;
}

#rotten-tomato-icon {
  width: 45px;
}

#metacritic-icon {
  margin: 6px 6px 6px 6px;
  width: 30px;
}

.movie-subhead {
  display: inline-block;
  margin: 0 6px 3px 0;
  font-size: 15.5px;
}

.movie-staff {
  font-size: 13px;
}

.user-movie-comment {
  font-size: 17px;
  margin: 0 0 5px 0;
}

.user-critic {
  font-weight: 500;
}

.user-critic-comment {
  /*background-color: grey;*/
  /*font-weight: bold;*/
  width: 500px;
  font-style: italic;
  word-wrap: break-word;
}

#menu1 .favorite #add-favorite-button {  
  display:none;         
}    

#menu1 #remove-favorite-button {  
  display:none;         
}                         

#menu2 .favorite #add-favorite-button {
  display:none;
}

#menu2 .favorite #remove-button {
  display: none;
}

#menu2 .non-favorite {
  display:none;
}
/***************/

.inline-block {
  display: inline-block;
}

#user-rating {
  margin-top: 7px;
}

.rating-change {
  margin-left: 10px;
}

#remove-button {
  background-color: #d6d7d8;
  margin-top: 15px;
}

#edit-button {
  background-color: #d6d7d8;
}

#favorite-button {
  background-color: #d6d7d8;
  margin-bottom: 10px;
}

#remove-favorite-button {
  background-color: #d6d7d8;
  margin-top: 15px;
}

#add-favorite-button {
  background-color: #d6d7d8;
  vertical-align: 4px;
  /*margin-top: 7px;*/
  /*margin-bottom: 5px;*/
}

#footer {
  position: absolute;
  bottom:0;
  width: 100%;
  background-color: #f2ede6;
  height: 75px;
  text-align: right;
  padding-top: 20px;
  padding-right: 50px;
  color: grey;
}

#body {
  min-height: 100%;
  position: relative;
  padding-bottom: 125px;
}